@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
.AuthStyles {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-image: url("./assets/brooke-lark-1Rm9GLHV0UA-unsplash.jpg");
  /* background: linear-gradient(135deg, #2e1b14 0%, #4a2c1f 100%); */
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.Login-continer {
  align-items: center;
  width: 20rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-top: 0;
  box-sizing: border-box;
  height: fit-content;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(5px) saturate(180%);
  box-shadow:
    0 8px 32px rgba(255, 255, 255, 0.137),
    inset 0 1px 1px rgba(255, 255, 255, 0.897),
    inset 0 -1px 1px rgb(255, 255, 255);
}
.main-title {
  font-size: 40px;
  text-shadow: 1px 4px 6px black;
  color: rgb(255, 255, 255);
  font-family: "DM sams", sans-serif;
  font-weight: 800;
}
.Form-Style {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  box-sizing: border-box;
}
.input-divider {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-sizing: border-box;
}
.auth-title {
  text-shadow: 1px 4px 6px black;
  font-size: 30px;
  font-family: "DM sams", sans-serif;
  font-weight: 600;
  color: white;
}
.input-divider > label {
  text-shadow: 1px 4px 6px black;
  font-size: 20px;
  font-family: "DM sams", sans-serif;
  font-weight: 600;
  color: white;
}
.input-divider > input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px rgba(44, 129, 68, 0.199) inset;
}
.App-bg {
  display: flex;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2E211A;
}
.layout-nav {
  display: flex;
  gap: 1rem;
  position: fixed;
  bottom: 2rem;
  z-index: 1;
  list-style: none;
  width: 12rem;
  height: 2.5rem;
  border-radius: 12px;
  box-sizing: border-box;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
  
  text-decoration: none;
  background-color: rgba(173, 173, 173, 0.144);
}
.layout-nav > a {
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 0.5rem;
  color: black;

  border: 1px solid rgba(255, 255, 255, 0.25);
  background: #2e211a0a;
  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(5px) saturate(180%);
  box-shadow:
    0 8px 32px #2e211a1c,
    inset 0 1px 1px rgba(255, 255, 255, 0.897),
    inset 0 -1px 1px rgb(255, 255, 255);
}
  
  

.Hero-home{
  box-sizing: border-box;
  display: flex;
  width: 20rem;
  height: 20rem;
  border-radius: 20px;
  
  position: relative;
  background-color: rgba(128, 128, 128, 0.096);
}
.hero-txt{
  position: absolute;
  font-size: 2.5rem;
  width: 13rem;
  display: flex;
  font-weight: 800;
  top: 5rem;
  text-shadow: 2px 2px 5px black;
  left: 4rem;
  color: #F0E6D8;
  
  
}
.hero-img{
  border-bottom-left-radius:19px ;
  border-top-left-radius:19px ;
}
.SignOut-btn{
  display: flex;
  box-sizing: border-box;
  position: fixed;
  right: 2rem;
  top: 2rem;
}
.acvtive-nav{
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(5px) saturate(180%);
  box-shadow:
    0 8px 32px rgba(255, 255, 255, 0.137),
    inset 0 1px 1px rgba(255, 255, 255, 0.897),
    inset 0 -1px 1px rgb(255, 255, 255);
}

.input-divider > input {
  height: 2rem;
  border-radius: 5px;
  border: none;
  padding-left: 0.5rem;
  box-sizing: border-box;
  display: flex;
  align-items: end;
}
.button-divider {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 1rem;
  align-items: center;
}
.button-divider > input {
  border-radius: 6px;
  border: none;
}
.login-btn {
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  width: 12rem;
  height: 2rem;
  color: white;
  background-color: rgba(28, 168, 28, 0.582);
}
.signup-btn {
  color: #181717;
  width: 10rem;
  height: 2rem;
  background-color: transparent;
}
.signup-btn-sp {
  color: #ffffff;
  width: 10rem;
  height: 2rem;
  background-color: rgba(28, 37, 168, 0.582);
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}
